/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #ffffff;
    color: #e60000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
    border-bottom: 3px solid #e60000;
    position: relative;
}

.logo {
    width: 120px;
    height: 100px;
    position: absolute;
    left: 30px;
}

header h1 {
    font-size: 1.8em;
    color: #e60000;
    margin: 0;
    font-weight: bold;
}

/* Main content */
main {
    margin-top: 90px;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between form and result */
    align-items: flex-start;
}

/* Adjust form to be on the left */
form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Stack rows vertically */
    text-align: left;
    width: 60%; /* Adjust width as needed */
    margin-left: 350px;
}

/* Align form rows to the left */
.form-row {
    margin: 10px ; /* Increased vertical spacing */
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    font-weight: bold;
    min-width: 140px;
}

/* inputs/selects */
input[type="number"],
select {
    padding: 10px;
    width: 220px;
    border: 1px solid #e60000;
    border-radius: 5px;
}

button {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000;
}

/* Result box styling */
.result {
    background-color: #f7f7f7;
    border: 1px solid #e60000;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 350px;
    width: 30%; /* Set a fixed width for the result box */
    position: sticky; /* Keep it fixed in place */
    top: 50px; /* Adjust based on header height */
}

/* Footer */
footer {
    background-color: #e60000;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}